.forgotpage{
    display: flex;
}

.forgot-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 7em;
    border-left: solid;
    border-width: 1em;
    border-color: rgb(227, 220, 231);
}

